# Max chunk sends per tick (per-world), 0 = no limit
max-chunk-sends-per-tick: 0

# Max chunk relights per tick (per-world), 0 = no limit
max-chunk-relights-per-tick: 0

# Maximum distance from which players can load chunks
# Set to 0 to only allow editing within render distance
max-chunk-load-distance: 128

# Whether players are allowed to teleport between worlds using views
allow-teleport-between-worlds: true

# Whether to allow clients to save/load/share blueprints through the server
blueprint-sharing: false

# Action to take when a user with an incompatible Minecraft version or Axiom version joins
# Valid actions are 'kick', 'warn' and 'ignore'
# 'warn' will give the player a warning and disable Axiom
# Using 'ignore' may result in corruption and is only provided for debugging purposes
incompatible-data-version: "warn"
unsupported-axiom-version: "warn"
client-doesnt-support-restrictions: "ignore"

# Maximum packet size. Must not be less than 32767
max-block-buffer-packet-size: 0x100000

# Regex for whitelisting worlds
# The world can only be modified if the regex matches the world's name
whitelist-world-regex: null

# Regex for blacklisting worlds
# If the regex matches the world's name, the world can't be modified
blacklist-world-regex: null

# Block buffer rate-limit (in chunk sections per second), 0 = no limit
block-buffer-rate-limit: 0

# Log large block buffer changes
log-large-block-buffer-changes: false

# Whitelist entities that can be spawned/manipulated/deleted by the client
whitelist-entities:
#  - "minecraft:item_display"
#  - "minecraft:block_display"
#  - "minecraft:text_display"
#  - "minecraft:painting"
#  - "minecraft:armor_stand"
#  - "minecraft:item_frame"
#  - "minecraft:glow_item_frame"

# Blacklist entities that can be spawned/manipulated/deleted by the client
blacklist-entities:
#  - "minecraft:ender_dragon"

# True allows players to see/manipulate marker entities
send-markers: false

# Disallowed blocks
disallowed-blocks:
#  - "minecraft:wheat"
#  - "minecraft:oak_stairs[waterlogged=true]"

# Toggles for individual packet handlers. May break certain features
packet-handlers:
  hello: true
  set-gamemode: true
  set-fly-speed: true
  set-world-time: true
  set-world-property: true
  set-single-block: true
  set-hotbar-slot: true
  switch-active-hotbar: true
  teleport: true
  set-editor-views: true
  request-chunk-data: true
  set-buffer: true
  spawn-entity: true
  manipulate-entity: true
  delete-entity: true
  marker-nbt-request: true
  blueprint-request: true
